<ion-header>
  <ion-toolbar>
    <ion-title>Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light" text-center>
    <ion-card-header>
      <ion-card-title>
        Your image
      </ion-card-title>
    </ion-card-header>

    

  </ion-card>


  

  <h3 text-center>Your email: {{userEmail}}</h3>
</ion-content>


<div class="container" style="background-image:url('https://img.mobiscroll.com/demos/card_6.png');">
  <!--//5x6-->
  <div class="grid">
      <div class="row">
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
      </div>
      <div class="row">
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
      </div>
      <div class="row">
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
      </div>
      <div class="row">
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
      </div>
      <div class="row">
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
      </div>
  </div>
</div>

<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>


