<ion-header>
  <ion-toolbar>
    <ion-title>Help</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Welcome to Tunnel Vision!
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Grid drawing is a method of transfering a reference image onto paper.
      </p>
      <p>
        Tunnel Vision will overlay an 8x8 grid over your photo. The 8x8 size was chosen to keep each individual square detailed, without having too many squares to draw.
      </p>
      <p>
        Make an account, log-in and upload the photo you would like to work with. You are able to upload multiple images
        that will be there when you log in next time!
      </p>
      <p>
        Click on the uploaded image that you would like to draw. You will see a new page with a grid over your image.
        Click on the square to zoom into it and click again to zoom back out.
      </p>
      <p>
        Put an 8x8 grid over your drawing paper and transfer the image square by square untill you have a finished
        drawing! For best results, work on each square from start to finish instead of trying to work on several squares
        at a time.
      </p>
      <img
        src="https://www.wikihow.com/images/thumb/7/73/Scale-Drawings-Using-the-Grid-Method-Step-8.jpg/aid1686243-v4-728px-Scale-Drawings-Using-the-Grid-Method-Step-8.jpg.webp">

    </ion-card-content>

  </ion-card>
  <ion-button href="mailto:eam17@pct.edu" expand="full">Email the dev</ion-button>

</ion-content>