<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
     </ion-buttons>
     <ion-buttons (click)="goToInfo()" slot="end">
        <ion-button ><ion-icon name="help"></ion-icon></ion-button>
       </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card text-center *ngIf="!isUploading && !isUploaded">
    <ion-card-header>
      <ion-card-title>Upload Image</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="fileUpload btn btn-primary">
        <span>Upload</span>
        <input
          id="uploadBtn"
          type="file"
          class="upload"
          (change)="uploadFile($event.target.files)"
        />
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card text-center *ngIf="isUploading && !isUploaded">
    <ion-card-header>
      <ion-card-title
        >Selected File:<b>{{ fileName }}</b></ion-card-title
      >
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="percentage | async as pct">
        Progress: {{ pct | number }}%
        <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
      </div>
      <div *ngIf="snapshot | async as snap">
        File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
        {{ snap.bytesTransferred | fileSizePipe }}
        <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
          <ion-button
            color="calm"
            size="small"
            (click)="task.pause()"
            class="button is-warning"
            >Pause</ion-button
          >
          <ion-button
            color="positive"
            size="small"
            (click)="task.resume()"
            class="button is-info"
            >Resume</ion-button
          >
          <ion-button
            color="stable"
            size="small"
            (click)="task.cancel()"
            class="button is-danger"
            >Cancel</ion-button
          >
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card text-center *ngIf="!isUploading && isUploaded">
    <ion-card-header>
      <ion-card-title>
        <b>{{ fileName }}</b> Uploaded!
      </ion-card-title>
    </ion-card-header>

    <!--Displays uploaded image & Upload More button -->
    <ion-card-content><!--
      <div *ngIf="UploadedFileURL | async as url">
        <img [src]="url" />
        <a [href]="url" target="_blank" rel="noopener">Download</a>
      </div>
      File Size: {{ fileSize | fileSizePipe }}-->
      <ion-button
        expand="full"
        color="success"
        (click)="isUploading = isUploaded = false"
        >Upload More</ion-button>
    </ion-card-content>
  </ion-card>

  <h2 text-center>Your Images</h2>

  <ion-card color="light" text-center *ngFor="let item of images | async">
    <ion-card-content>
      <img [src]="item.filepath" (click)="goToImagePage(item.filepath)" />
    </ion-card-content>
  </ion-card>

  

  <h3 text-center>Your email: {{userEmail}}</h3>
</ion-content>
  



<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
